<div class="col-xs-5">
  <div class="unstyled list-unstyled left-pane" ng-scrollbar rebuild-on="resize:event-list">
    <div class="left-pane-inner">
      <div ng-repeat="event in openEvents track by $index">
        <span class="pull-left event event-{{ event.type }}"></span>
        &nbsp;
        <a
          href="javascript:;"
          class="event-item"
          ng-click="eventClick({$event: event})">
          <h2>{{ event.title }}</h2>
          <h3 class="datetime-span">{{event.starts_at}}</h3>
        </a>

        <a
          href="javascript:;"
          class="event-item-edit"
          ng-if="editEventHtml && event.editable !== false"
          ng-bind-html="$sce.trustAsHtml(editEventHtml)"
          ng-click="eventEditClick({$event: event})">
        </a>

        <a
          href="javascript:;"
          class="event-item-delete"
          ng-if="deleteEventHtml && event.deletable !== false"
          ng-bind-html="$sce.trustAsHtml(deleteEventHtml)"
          ng-click="eventDeleteClick({$event: event})">
        </a>
      </div>
    </div>
  </div>
</div><!-- /.col-xs-5 -->

<div class="col-xs-7">
  <div class="cal-row-fluid cal-row-head">

    <div class="cal-cell1" ng-repeat="day in weekDays">{{ day }}</div>

  </div>
    <div class="cal-month-box">

      <div ng-repeat="week in view track by $index" class="weeks{{view.length}}">
        <div class="cal-row-fluid cal-before-eventlist">
          <div
            class="cal-cell1 cal-cell {{ day.highlightClass }}"
            ng-repeat="day in week track by $index"
            ng-click="dayClicked($parent.$index, $index)"
            ng-class="{'pointer': day.events.length > 0, 'all-day':(day.events[0].allday)}"
          >
            <div class="cal-month-day" ng-class="{'cal-day-outmonth': !day.inMonth, 'cal-day-inmonth': day.inMonth, 'cal-day-weekend': $index == 5 || $index == 6, 'cal-day-today': day.isToday}">
              <span class="pull-right" data-cal-date>{{ day.label }}</span>
              <div class="cal-day-tick" ng-show="day.isOpened">
                <i class="glyphicon glyphicon-chevron-up"></i>
                <i class="fa fa-chevron-up"></i>
              </div>
              <div class="events-list" ng-show="day.events.length > 0">
                <a
                  href="javascript:;"
                  ng-repeat="event in day.events track by $index"
                  class="pull-left event event-{{ event.type }}"
                  ng-mouseenter="highlightEvent(event, true)"
                  ng-mouseleave="highlightEvent(event, false)"
                  ></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
